//
// VARIABLES
//

// Colors
$black: rgba(0, 0, 0, 0.12);
$darkerGrey: #263238;
$darkGrey: #37474f;
$grey: #b0bec5;
$lightGrey: #cfd8dc;
$white: #fefefe;

// Font
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 50rem) {
    @content;
  }
}
